name: CI/CD Pipeline

on:
  pull_request:
    branches:
      - "**"
  push:
    branches:
      - main

jobs:
  # ------------------- Pull Request (CI) -------------------
  ci:
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    services:
      fastapi:
        image: python:3.13
        ports:
          - 8000:8000
        options: >-
          --health-cmd "curl -f http://localhost:8000/health || exit 1"
          --health-interval 5s
          --health-timeout 2s
          --health-retries 5
        volumes:
          - ./:/app
        command: bash -c "pip install -r /app/requirements.txt && uvicorn main:app --host 0.0.0.0"

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.13

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install locust

      - name: Run unit tests
        run: pytest -v

      - name: Run short load test with Locust
        run: |
          locust -f locustfile.py --headless -u 10 -r 5 -t 30s --host=http://127.0.0.1:8000

  # ------------------- Main Branch (CD) -------------------
  cd:
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        run: |
          SHA=$(git rev-parse --short HEAD)
          docker build -t martindoychinov07/elsys-example-app:latest -t martindoychinov07/elsys-example-app:$SHA .

      - name: Push Docker image
        run: |
          SHA=$(git rev-parse --short HEAD)
          docker push martindoychinov07/elsys-example-app:latest
          docker push martindoychinov07/elsys-example-app:$SHA
